# Ignore datasets only
asl_alphabet_train/
asl_alphabet_test/
asl_dataset/
dynamic_dataset.csv

# Ignore virtual environments
cv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter temp files
.ipynb_checkpoints/

# VS Code
.vscode/